script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async=''

javascript:
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7948386508690576",
        enable_page_level_ads: true
    });
